@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.display-none {
  display: none;
}

.battle {
  min-height: 100dvh;
  padding: 10px;
  margin-top: 6rem;

  h1,
  h2,
  h3,
  p,
  button,
  select {
    font-family: "Press Start 2P", system-ui;
    color: #47453c;
  }

  h2 {
    text-align: left;
    text-transform: uppercase;
    margin: 7px;
    text-shadow: 2px 2px 1px #cecbab;
    font-size: 20px;
  }

  p.hp {
    text-align: right;
    margin-top: 5px;
  }

  .stat-box {
    justify-self: start;
    align-self: start;
    display: flex;
    flex-direction: column;
    background-color: #f4f4d5;
    border-radius: 25px 5px 25px 5px;
    border: 4px solid #464d4e;
    padding: 5px;
    width: 350px;
    box-shadow: 7px 7px 2px #4e6361;
    z-index: 3;
  }

  .health-container {
    display: grid;
    grid-template-columns: 40px 200px;
    background-color: #464d4e;
    width: 252px;
    padding: 3px;
    height: 20px;
    border-radius: 50px;
    align-self: flex-end;
  }
  .health-hp {
    grid-area: 1/1/2/2;
    color: #ee8e6c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
  .health-back {
    grid-area: 1/2/2/3;
    background-color: #464d4e;
    width: 206px;
    border-radius: 50px;
    border: 3px solid white;
    height: 13.5px !important;
  }

  .health-bar {
    grid-area: 1/2/2/3;
    background-color: #66e89a;
    height: 9px;
    width: 100%;
    border-radius: 50px;
    margin: 2px 0px 3px 3px;
    transition: all 0.5s ease-in-out;
  }

  .opponent,
  .trainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 850px;
    min-height: 230px;
    margin: auto;
  }

  .circle {
    height: 120px;
    width: 350px;
    background-color: #b4b593;
    border: 10px solid #c8cab9;
    border-radius: 50%;
    margin-top: auto;
    z-index: 0;
    margin-bottom: -20px;
  }

  img {
    margin: 40px 70px;
    max-height: 150px;
    max-width: 150px;
    z-index: 2;
  }

  .opponent img {
    grid-area: 1/2/2/3;
  }
  .vibrate {
    animation: vibrate 0.15s infinite;
  }
  .opponent .circle {
    grid-area: 1/2/2/3;
  }

  .trainer img {
    grid-area: 1/1/2/2;
  }

  .trainer .circle {
    grid-area: 1/1/2/2;
  }

  .text-box {
    position: relative;
    background-color: #679e9b;
    border-radius: 20px;
    border: 10px solid #cc4527;
    z-index: 10;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .text-box p {
    color: #eaf5fa;
    text-shadow: 2px 2px 1px #4e5461;
    font-size: 20px;
    flex: 1 1 800px;
    padding: 0.5rem;
    padding-top: 1rem;
  }
  .text-box select {
    background-color: #679e9b;
    border-radius: 5px;
    border: none;
    z-index: 10;
    padding: 0.5rem;
    margin: 2rem;
    color: #eaf5fa;
    font-size: 1rem;
    text-shadow: 2px 2px 1px #4e5461;
  }

  button {
    background-color: #679e9b;
    border-radius: 5px;
    border: none;
    z-index: 10;
    margin: 10px;
    padding: 10px 15px;
    color: #eaf5fa;
    text-shadow: 2px 2px 1px #4e5461;
  }

  button:hover {
    color: #4e5461;
    text-shadow: 2px 2px 1px #eaf5fa;
  }
}
.battle button:disabled {
  background-color: #525252;
  color: #f4f4d5;
  cursor: not-allowed;
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

@media screen and (max-width: 700px) {
  .battle {
    margin: 0;
  }
  .opponent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .opponent > .stat-box {
    grid-area: 1 / 1 / 2 / 2;
  }
  .opponent > img,
  .opponent > .circle {
    grid-area: 2/1/2/2 !important;
    margin: 1rem;
  }
  .opponent > img {
    margin: 0 2rem 1rem auto;
    margin-top: -2rem;
  }
  .trainer > .stat-box {
    grid-area: 1/1/2/2 !important;
  }
  .trainer > img,
  .trainer > .circle {
    grid-area: 2/1/2/2 !important;
    margin: 1rem;
  }
  .trainer > .circle {
    margin-top: 4rem;
  }
}
