* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  margin: 60px;
}

.poke-card {
  background-color: lightgrey;
  border-radius: 30px;
  padding-bottom: 20px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 5px;
    transform: scale(1.02);
  }
  &:hover .img {
    transform: scale(1.1);
  }
  &:hover .dex-circle {
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.3);
  }
}

.dex-img-container {
  display: grid;
  grid-template-columns: 1fr;
}

.dex-circle {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: auto;
  grid-area: 1/1/2/2;
  transition: all 0.2s ease-in-out;
}

.poke-card .img {
  width: 200px;
  height: 200px;
  mask-size: cover;
  mask-mode: alpha;
  margin: auto;
  margin-top: 20px;
  grid-area: 1/1/2/2;
  transition: all 0.2s ease-in-out;
  background-size: cover;
  background-position: center;
  background-color: rgb(88, 88, 88);
}

.dex-number {
  background-color: rgba(0, 0, 0, 0.2);
  display: inline;
  padding: 5px 10px;
  border-radius: 12px;
  margin: auto;
}

.poke-card h2 {
  margin: 10px 0;
}

.select-box {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  select {
    margin: 0 10px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: 5px;
  }

  select:hover {
    box-shadow: 1px 1px 10px #6f3e90;
  }
}


