* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background: rgb(226,246,228);
  background: linear-gradient(77deg, rgba(226,246,228,1) 0%, rgba(205,242,250,1) 52%, rgba(215,218,251,1) 87%, rgba(222,193,235,1) 100%); 
}
.body {
  min-height: 94.5dvh;
}